<!-- <div class="container" *ngIf="news != undefined">
    <div class="row" >
  <div class="card-columns" style="padding-top: 20px;">
    <div class="card card-4" *ngFor="let n of news.articles">
      <img class="card-img-top" [src]="n.urlToImage" alt="Card image cap">
      <div class="card-body" >
        <h5 class="card-title">{{n.title}}</h5> -->
<!-- <p class="card-text"></p> -->
<!-- <div class="card-body">
            <a [href]="n.url" class="card-link">More</a>
          </div>
        
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="container">
  <div class="jumbotron jumbotron-fluid" style="background-color: white; text-align: center;">
    <div class="container">
      <h1 class="display-4">Coming Soon !</h1>
      <p class="lead">We're working on it! Please visit this page later. </p>
    </div>
  </div>
</div>