<div class="container-fluid pb-0 mb-0 justify-content-center text-light " style="margin-top: 20px;">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">INDIA Covid-19 Tracker.</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <a style="color: #627482;" routerLink="" (click)="gotoTop()">
                                <li>Home</li>
                            </a>
                            <a style="color: #627482;" routerLink="/Hospitals-and-Beds" (click)="gotoTop()">
                                <li>Hospitals & beds</li>
                            </a>
                            <a style="color: #627482;" routerLink="/covid-19-news" (click)="gotoTop()">
                                <li>News</li>
                            </a>
                            <a style="color: #627482;" routerLink="/advisories" (click)="gotoTop()">
                                <li>Advisories</li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>SOCIAL LINK</b></h6>
                        <a style="color: #627482;" href="https://www.facebook.com" target="_blank">
                            <p class="mb-1">GitHub</p>
                        </a>
                        <a style="color: #627482;" href="https://www.facebook.com" target="_blank">
                            <p class="mb-1">LinkedIn</p>
                        </a>
                        <a style="color: #627482;" href="https://www.facebook.com" target="_blank">
                            <p class="mb-1">Facebook</p>
                        </a>
                        <a style="color: #627482;" href="https://www.facebook.com" target="_blank">
                            <p class="mb-1">Instagram</p>
                        </a>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>ROHIT CHAVAN</b></h6><small><span><i
                                    class="fa fa-envelope" aria-hidden="true"></i></span> rbx5.rohit@gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>